Create variables for storing a person's name, age, and  
 average test score

In [1]:
def personal_details():
    name,age="shivam",24
    average_test_score=78
    print("name:{} \n age:{}\n average_test {}".format(name,age,average_test_score))

In [2]:
personal_details()

name:shivam
 age:24
 average_test 78

Concatenate two strings and print the result.

In [4]:
str1=input("Enter the first string")
str2=input("Enter the second string")
print(str1+str2)

Enter the first string shivam
Enter the second string mishra

shivammishra

Create a list of fruits and access elements using  
 indexing.

In [1]:
l1=['mangoes','apple','banana','orange']
l1[1]

'apple'

In [2]:
l1[3]

'orange'

In [3]:
l1[-1]

'orange'

 Given a list of numbers, find the sum and average

In [9]:
l1=[1,2,3,4,5,6]
sum=0
for i in l1:
    sum=sum+i
av=len(l1)
average=sum/av
print("sum:{}\n average:{}".format(sum,average))

sum:21
 average:3.5

% Create a program that takes a temperature in Celsius and 
converts it to Kelvin

In [11]:
celcius=float(input("Enter the Temperature in celcius"))
kelvin=celcius+273.15
print(f"The kelvin value is:{kelvin}")

Enter the Temperature in celcius 27

The kelvin value is:300.15

Implement a program that checks if a given string is a 
palindrome)

In [12]:
str=input("Enter the string")
def palindrome(str):
    if (str==str[::-1]):
        return "The string is palindrome"
    else:
        return "The string is not palindrome"
palindrome(str)

Enter the string shi

'The string is not palindrome'

 Create a function to reverse a given string)

In [26]:
def reverse(string):
    string=string[::-1]
    return string


s=input("Enter the string")
reverse(s)

Enter the string shivam

'mavihs'

Given a list of names, concatenate them into a single 
string separated by spaces

In [43]:
l1=["shivam","mishra","age","something","done"]
string=""
for i in l1:
    string=string+i+" "
string

'shivam mishra age something done '

% Write a Python program to check if a given string is a 
pangram (contains all letters of the alphabet))

In [48]:
import string

def pangram(str,alphabates=string.ascii_lowercase):
    return set(alphabates)<=set(str.lower())
pangram("The quick brown fox jumps over the lazy doggg")

True

Calculate the area and circumference of a circle given its 
radius)

In [1]:
r=float(input("Enter the radius of circle"))
circumference=2*3.14*r
area=3.14*r**2
print(f"Circumference{circumference}")
print(f"area of circle{area}")

Enter the radius of circle 23

Circumference144.44
area of circle1661.0600000000002

Implement a program that converts a given number of 
minutes into hours and minutes)

In [3]:
minute=int(input("Enter the mintue value:"))
hours=minute//60
minutes=minute%60
print("hours number {} \n minutes {}".format(hours,minutes))

Enter the mintue value: 65

hours number 1
 minutes 5

 Create a function to count the number of vowels in a 
given string)

In [9]:
def vowel_count(string):
    vowels='aeiouAEIOU'
    count=0
    for i in string:
        if i in vowels:
            count=count+1
    return count
string=input("Enter the string")
vowel_count(string)

Enter the string aeiouaeiou

10

Write a program to check if a number is prime.

In [13]:
n=int(input("Enter the number"))
def isprime(n):
    if n<=0:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
        return True

if isprime(n):
    print(f"Prime number {n}")
else:
    print(f"Not a prime number {n}")

Enter the number 2324342

Not a prime number 2324342