Write a function to calculate the area of a circle â€¨
 given its radius.

In [1]:
def area_circle(radius):
    area=3.14*(radius**2) 
    return area

radius=float(input("Enter the number:"))
area_circle(radius)

Enter the number: 4

50.24

Create a function to check if a number is prime

In [1]:
def isprime(num):
    if num<=0:
        return "Enter the positive number"
    for i in range(2,int(num**0.5)+1):
        return False
    return True
num=int(input("Enter the number to check a prime number:-"))
if isprime(num):
    print("The number is prime number")
else:
    print("The number is not a prime number")

Enter the number to check a prime number:- 2

The number is prime number

 Implement a function that reverses a given string

In [2]:
def reverse_string(str):
    return str[::-1]
str=input("enter the string to reverse the string:")
print(f"The original string is: {str}")
print(f" the reverse string: {reverse_string(str)}")

enter the string to reverse the string: shiv

The original string is: shiv
 the reverse string: vihs

Given a list of numbers, create a function to find the sum 
of all positive numbers

In [3]:
def sum_positive_number(list):
    positive_num=0
    for num in list:
        if num>=0:
            positive_num+=num
    return positive_num

list=[1,2,3,4,5,6,7,-9,8]
sum_positive_number(list)

36

& Write a Python function to check if a given string is a 
palindrome*

In [4]:
def isPalindrome(str):
    if str==str[::-1]:
        return "The string is a palindrome"
    else:
        return "Not a palindrome string"
str=input("Enter the string:")
print(isPalindrome(str))

Enter the string: shi

Not a palindrome string

& Implement a function that returns the factorial of a given 
number using recursion

In [3]:
def recursive_factorial(num):
    if num<0:
        return "Enter the non-negative number:"
    elif num==0 or num==1:
        return 1
    else:
        return num*recursive_factorial(num-1)
num=int(input("Enter the number to check for factorial"))
recursive_factorial(num)

Enter the number to check for factorial 8

40320

 Create a function to find the square of each element in a 
given list*

In [10]:
def square(list):
    result=[]
    for i in list:
        result.append(i**2)
    return result
        
list=[3,3,4,5]  
square(list)

[9, 9, 16, 25]

 Write a function to check if a number is even or odd and 
return "Even" or "Odd" accordingly

In [13]:
def even_odd(num):
    if num%2==0:
        return 'EVEN'
    else:
        return 'odd'
num=int(input("Enter the number to check for even or odd:"))
even_odd(num)

Enter the number to check for even or odd: 454538957

'odd'

 Calculate the area of a triangle given its base and height 
using a function*

In [17]:
def area_triangle(base,hei):
    area=0
    area=(base*hei)/2
    return area
base=float(input("Enter the base:"))
hei=float(input("Enter the height"))

area_triangle(base,hei)

Enter the base: 34
Enter the height 34

578.0

Create a function that takes a list of strings and returns 
the list sorted alphabetically

In [20]:
def sorted_alphabetically(input_list):
    return sorted(input_list)
input_list=["banana", "apple", "cherry", "date", "grape"]
sorted_alphabetically(input_list)

['apple', 'banana', 'cherry', 'date', 'grape']

 Write a function that takes two lists and returns their 
intersection (common elements)

In [32]:
def find_intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    intersection_result = list(set1.intersection(set2))
    return intersection_result

# Example usage:
list_a = [1, 2, 3, 4, 5]
list_b = [3, 4, 5, 6, 7]
intersection_result = find_intersection(list_a, list_b)

print("List A:", list_a)
print("List B:", list_b)
print("Intersection:", intersection_result)

TypeError: 'list' object is not callable

& Implement a function to check if a given year is a leap 
year or not*

In [41]:
def leap_year(year):
    if (year%4==0 and year%100!=0) or year%400==0:
        print(f"Leap year {year}")
    else:
        print(f"not leap year {year}")
year=int(input("Enter the year:-"))
leap_year(year)

Enter the year:- 2001

not leap year 2001

& Create a function that takes a number as input and prints 
its multiplication table

In [42]:
def multiplication_table(num):
    for i in range(1,11):
        print(num*i)
multiplication_table(3)

3
6
9
12
15
18
21
24
27
30